.navigation{
    // height: 10vh;
    background-color: #f25f4c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
        width: 5rem;
        padding: 5px;
        color:white
    }
    ul {
        margin: 20px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        li {
        margin: 20px;
        color: white;
        list-style: none;
        }
    }

}