.footer{
    text-align: center;
    background-color: #f25f4c;
    color:white;
    position: relative;
    // bottom: 0;
    height: 90px;
    margin-bottom: 0px;
    width: 100%;
    i{
        font-size: 1.8rem;
        margin:10px;
    }
}